<div class="menu">
  <div class="menu-burger"><a href="/">Home</a></div>
  <div class="menu-burger"><a href="/type/burger">Burger</a></div>
  <div class="menu-Pizza"><a href="/type/pizza">Pizza</a></div>
  <div class="menu-Fries"><a href="/type/fry">Fries</a></div>
  <div class="menu-Fries"><a href="/type/setmenu">Set Menu</a></div>
  <div class="menu-softDrinks"><a href="/type/softdrinks">Soft Drinks</a></div>
</div>
