<body>
    <div class="menu">
        <div class="menu-burger"><a href="/home">Home</a></div>
        <div class="menu-burger"><a href="/home/burger">Burger</a></div>
        <div class="menu-Pizza"><a href="/home/pizza">Pizza</a></div>
        <div class="menu-Fries"><a href="/home/fry">Fries</a></div>
        <div class="menu-Fries"><a href="/home/setmenu">Set Menu</a></div>
        <div class="menu-softDrinks"><a href="/home/softdrinks">Soft Drinks</a></div>
    </div>
</body>