<% layout("/layouts/boilerplate") -%>
<body>
  <div class="row mt-3">
    <div class="col-6 offset-3">
      <h1 class="mb-3">Sign Up to Palate Paradise</h1>
      <form action="/home/user/signup" method="post">
        <div class="mb-1">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            id="firstName"
            name="newUser[firstName]"
            placeholder="Enter First Name"
            class="form-control"
            required
          />
        </div>
        <div class="mb-1">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="text"
            id="lastName"
            name="newUser[lastName]"
            placeholder="Enter Last name"
            class="form-control"
            required
          />
        </div>
        <div class="mb-1">
          <label for="email" class="form-label">Email</label>
          <input
          type="email"
          id="email"
          name="newUser[email]"
          placeholder="Email"
          class="form-control"
          required
        />
        </div>
        <div class="mb-1">
          <label for="username" class="form-label">Username</label>
          <input
          type="text"
          id="username"
          name="newUser[username]"
          placeholder="Choose a unique username"
          class="form-control"
          required
        />
        </div>
        <div class="mb-1">
          <label for="password" class="form-label">Password</label>
          <input
          type="password"
          id="password"
          name="newUser[password]"
          placeholder="Create a strong password"
          class="form-control"
          required
        />
        </div>
        <button type="submit" class="btn btn-danger offset-5 mt-1">Sign Up</button>
      </form>
      <!-- <p>Already Have An Account? <a href="./login.html">Sign In</a></p> -->
      <p class="mt-2">Already have an account. <span><a href="/home/user/login"  style="color: red;">Login</a></span></p>
    </div>
  </div>
</body>
