<% layout("/layouts/boilerplate") -%>
<body>
    <h1 style="padding: 0 1rem">All Items</h1>
  <div
    class="row row-cols-lg-3 row-cols-md-2 row-cols-1"
    style="padding: 0 1rem"
  >
    <%for(let item of allItems){%>
    <a href="/home/<%=item._id%>">
      <div class="card col">
        <img
          src="<%=item.image.url%>"
          class="card-img-top"
          alt="listing"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%=item.title%></b> <br />
            &#2547;<%=item.price.toLocaleString("en-BD")%>
          </p>
        </div>
      </div>
    </a>
    <%}%>
  </div>
</body>
